<a href="https://colab.research.google.com/github/anslava00/PySpark_sber/blob/main/PySpark_lesson3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.2)
Requirement already satisfied: findspark in /usr/local/lib/python3.8/dist-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
import pyspark.sql.functions as F

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
import pyspark.sql.functions as F

conf = SparkConf().set('spark.ui.port', '4050').set('spark.serializer', 'org.apache.spark.serializer.KryoSerializer')\
                  .set('spark.dynamicAllocation.enabled', 'true')\
                  .set('spark.shuffle.service.enabled', 'true') #трекер, чтобы возвращать ресурсы
sc = SparkContext(conf=conf)
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from pyspark.sql.window import Window

In [ ]:
trans_data = spark.read.parquet('/content/drive/MyDrive/Colab_Notebooks/spark_transactions.parquet')

In [ ]:
trans_data.show(3)

+----+----+----+-----+---+-----+-------+-----------------+-------------+-------------+-------+----+-------+
|User|Card|Year|Month|Day| Time| Amount|          UseChip| MerchantCity|MerchantState|    Zip| MCC|IsFraud|
+----+----+----+-----+---+-----+-------+-----------------+-------------+-------------+-------+----+-------+
|   0|   0|2002|    9|  1|06:21|$134.09|Swipe Transaction|     La Verne|           CA|91750.0|5300|     No|
|   0|   0|2002|    9|  1|06:42| $38.48|Swipe Transaction|Monterey Park|           CA|91754.0|5411|     No|
|   0|   0|2002|    9|  2|06:22|$120.34|Swipe Transaction|Monterey Park|           CA|91754.0|5411|     No|
+----+----+----+-----+---+-----+-------+-----------------+-------------+-------------+-------+----+-------+
only showing top 3 rows

Посмотрим на схему данных

In [ ]:
trans_data.printSchema()

root
 |-- User: long (nullable = true)
 |-- Card: long (nullable = true)
 |-- Year: long (nullable = true)
 |-- Month: long (nullable = true)
 |-- Day: long (nullable = true)
 |-- Time: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- UseChip: string (nullable = true)
 |-- MerchantCity: string (nullable = true)
 |-- MerchantState: string (nullable = true)
 |-- Zip: double (nullable = true)
 |-- MCC: long (nullable = true)
 |-- IsFraud: string (nullable = true)

Сколько в среднем транзакций у пользователя

In [ ]:
trans_data.groupBy('User').count()\
          .select(F.mean('count').alias('mean_for_users')).show()

+--------------+
|mean_for_users|
+--------------+
|      12193.45|
+--------------+

Сколько карт у пользователей в среднем

In [ ]:
trans_data.groupBy('User').sum('Card')\
          .select(F.mean('sum(Card)').alias('mean_for_users_card')).show()

+-------------------+
|mean_for_users_card|
+-------------------+
|          16477.816|
+-------------------+

Немного обработаем данные: Amount в float, из Time вытянем час транзакции и удалим исходный Time, Zip  к типу int

In [ ]:
proc_data = trans_data\
            .withColumn('TimeN', F.substring(trans_data.Time, 0, 2))\
            .drop('Time').withColumnRenamed('TimeN', 'Time')\
            .withColumn('Amount', F.regexp_extract(trans_data.Amount,'(\d+)' , 1).cast('float'))\
            .withColumn('Zip', trans_data.Zip.cast('int'))
proc_data.show()

+----+----+----+-----+---+------+------------------+-------------+-------------+-----+----+-------+----+
|User|Card|Year|Month|Day|Amount|           UseChip| MerchantCity|MerchantState|  Zip| MCC|IsFraud|Time|
+----+----+----+-----+---+------+------------------+-------------+-------------+-----+----+-------+----+
|   0|   0|2002|    9|  1| 134.0| Swipe Transaction|     La Verne|           CA|91750|5300|     No|  06|
|   0|   0|2002|    9|  1|  38.0| Swipe Transaction|Monterey Park|           CA|91754|5411|     No|  06|
|   0|   0|2002|    9|  2| 120.0| Swipe Transaction|Monterey Park|           CA|91754|5411|     No|  06|
|   0|   0|2002|    9|  2| 128.0| Swipe Transaction|Monterey Park|           CA|91754|5651|     No|  17|
|   0|   0|2002|    9|  3| 104.0| Swipe Transaction|     La Verne|           CA|91750|5912|     No|  06|
|   0|   0|2002|    9|  3|  86.0| Swipe Transaction|Monterey Park|           CA|91755|5970|     No|  13|
|   0|   0|2002|    9|  4|  93.0| Swipe Transaction|Monterey Park|           CA|91754|5411|     No|  05|
|   0|   0|2002|    9|  4| 123.0| Swipe Transaction|Monterey Park|           CA|91754|5411|     No|  06|
|   0|   0|2002|    9|  5|  61.0| Swipe Transaction|Monterey Park|           CA|91754|5411|     No|  06|
|   0|   0|2002|    9|  5|  57.0| Swipe Transaction|     La Verne|           CA|91750|7538|     No|  09|
|   0|   0|2002|    9|  5|  76.0| Swipe Transaction|     La Verne|           CA|91750|5814|     No|  20|
|   0|   0|2002|    9|  5|  53.0|Online Transaction|       ONLINE|         null| null|4900|     No|  20|
|   0|   0|2002|    9|  6| 110.0| Swipe Transaction|    Mira Loma|           CA|91752|5541|     No|  06|
|   0|   0|2002|    9|  7| 117.0| Swipe Transaction|Monterey Park|           CA|91754|5411|     No|  06|
|   0|   0|2002|    9|  7|  45.0| Swipe Transaction|Monterey Park|           CA|91755|5942|     No|  06|
|   0|   0|2002|    9|  7|  29.0| Swipe Transaction|     La Verne|           CA|91750|7538|     No|  09|
|   0|   0|2002|    9|  8| 147.0| Swipe Transaction|     La Verne|           CA|91750|5912|     No|  06|
|   0|   0|2002|    9|  8|  27.0| Swipe Transaction|     La Verne|           CA|91750|5411|     No|  06|
|   0|   0|2002|    9|  8|  76.0| Swipe Transaction|Monterey Park|           CA|91754|5411|     No|  13|
|   0|   0|2002|    9|  8|  22.0| Swipe Transaction|    Mira Loma|           CA|91752|7832|     No|  22|
+----+----+----+-----+---+------+------------------+-------------+-------------+-----+----+-------+----+
only showing top 20 rows

Посчитайте количество транзакций по годам, учитывая только те транзакции, объем которых был больше 100

In [ ]:
proc_data.printSchema()

root
 |-- User: long (nullable = true)
 |-- Card: long (nullable = true)
 |-- Year: long (nullable = true)
 |-- Month: long (nullable = true)
 |-- Day: long (nullable = true)
 |-- Amount: float (nullable = true)
 |-- UseChip: string (nullable = true)
 |-- MerchantCity: string (nullable = true)
 |-- MerchantState: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- MCC: long (nullable = true)
 |-- IsFraud: string (nullable = true)
 |-- Time: string (nullable = true)

In [ ]:
proc_data.filter(F.col('Amount') > 100).groupBy('Year').count().show()

+----+------+
|Year| count|
+----+------+
|2007|126495|
|2014|186557|
|2012|181524|
|1991|   278|
|2016|190323|
|1994|  1607|
|2018|189510|
|1999| 14358|
|1997|  5846|
|2009|156325|
|2010|171967|
|2006|110132|
|2017|190046|
|1998|  9409|
|2013|185881|
|2004| 72738|
|2003| 56560|
|2002| 42572|
|2011|179197|
|2020| 36178|
+----+------+
only showing top 20 rows

Определите, есть ли пропуски в данных по каждому столбцу

In [ ]:
proc_data.count()

24386900

In [ ]:
proc_data.select([F.count(F.when(F.isnan(c) | F.col(c).isNull(), c)).alias(c) for c in proc_data.columns]).show()

+----+----+----+-----+---+------+-------+------------+-------------+-------+---+-------+----+
|User|Card|Year|Month|Day|Amount|UseChip|MerchantCity|MerchantState|    Zip|MCC|IsFraud|Time|
+----+----+----+-----+---+------+-------+------------+-------------+-------+---+-------+----+
|   0|   0|   0|    0|  0|     0|      0|           0|      2720821|2878135|  0|      0|   0|
+----+----+----+-----+---+------+-------+------------+-------------+-------+---+-------+----+

Заполните пропуски исходя из типа данных

При помощи оконных функций для каждого клиента рассчитайте средний размер транзакции, количество транзакций и последнюю по дате транзакцию.

In [ ]:
from pyspark.sql.window import Window
window_proc_data = proc_data.select('User', 'Card', 'Year', 'Month', 'Day', 'Amount')\
.withColumn('mean_tran', F.mean('Amount').over(Window.partitionBy('User')))\
.withColumn('count_tran', F.count('Amount').over(Window.partitionBy('User')))\
.withColumn('last_tran_data', F.max('Year').over(Window.partitionBy('User')))

window_proc_data.show()

+----+----+----+-----+---+------+-----------------+----------+--------------+
|User|Card|Year|Month|Day|Amount|        mean_tran|count_tran|last_tran_data|
+----+----+----+-----+---+------+-----------------+----------+--------------+
|   0|   0|2002|    9|  1| 134.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  1|  38.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  2| 120.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  2| 128.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  3| 104.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  3|  86.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  4|  93.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  4| 123.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  5|  61.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  5|  57.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  5|  76.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  5|  53.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  6| 110.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  7| 117.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  7|  45.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  7|  29.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  8| 147.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  8|  27.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  8|  76.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  8|  22.0|89.72198567349596|     19963|          2020|
+----+----+----+-----+---+------+-----------------+----------+--------------+
only showing top 20 rows

In [ ]:
window_proc_data.filter(F.col('User') == 0).show(4)
window_proc_data.filter(F.col('User') == 1).show(4)
window_proc_data.filter(F.col('User') == 2).show(4)

+----+----+----+-----+---+------+-----------------+----------+--------------+
|User|Card|Year|Month|Day|Amount|        mean_tran|count_tran|last_tran_data|
+----+----+----+-----+---+------+-----------------+----------+--------------+
|   0|   0|2002|    9|  1| 134.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  1|  38.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  2| 120.0|89.72198567349596|     19963|          2020|
|   0|   0|2002|    9|  2| 128.0|89.72198567349596|     19963|          2020|
+----+----+----+-----+---+------+-----------------+----------+--------------+
only showing top 4 rows

+----+----+----+-----+---+------+-----------------+----------+--------------+
|User|Card|Year|Month|Day|Amount|        mean_tran|count_tran|last_tran_data|
+----+----+----+-----+---+------+-----------------+----------+--------------+
|   1|   0|2003|    9|  1|  65.0|97.57158874313264|      8919|          2020|
|   1|   0|2003|    9|  4|  98.0|97.57158874313264|      8919|          2020|
|   1|   0|2003|    9|  7|  49.0|97.57158874313264|      8919|          2020|
|   1|   0|2003|    9|  7| 827.0|97.57158874313264|      8919|          2020|
+----+----+----+-----+---+------+-----------------+----------+--------------+
only showing top 4 rows

+----+----+----+-----+---+------+-----------------+----------+--------------+
|User|Card|Year|Month|Day|Amount|        mean_tran|count_tran|last_tran_data|
+----+----+----+-----+---+------+-----------------+----------+--------------+
|   2|   0|2009|    9| 26| 948.0|38.91783791509838|     41978|          2020|
|   2|   0|2009|   10|  1|  42.0|38.91783791509838|     41978|          2020|
|   2|   0|2009|   10|  1|   9.0|38.91783791509838|     41978|          2020|
|   2|   0|2009|   10|  1|  36.0|38.91783791509838|     41978|          2020|
+----+----+----+-----+---+------+-----------------+----------+--------------+
only showing top 4 rows

Теперь самое время сгруппировать данные по каждому клиенту (можно использовать collect_list для сбора данных после агрегации)
Когда будете делать агрегацию, то возьмите только часть выборки, например, через sample, для всей выборки либо не хватит памяти, либо очень долго считать

In [ ]:
simp_data = trans_data.sample(fraction=0.3, seed=3)

In [ ]:
print(simp_data.count())
simp_data.show(5)

7312560
+----+----+----+-----+---+-----+-------+-----------------+-------------+-------------+-------+----+-------+
|User|Card|Year|Month|Day| Time| Amount|          UseChip| MerchantCity|MerchantState|    Zip| MCC|IsFraud|
+----+----+----+-----+---+-----+-------+-----------------+-------------+-------------+-------+----+-------+
|   0|   0|2002|    9|  1|06:21|$134.09|Swipe Transaction|     La Verne|           CA|91750.0|5300|     No|
|   0|   0|2002|    9|  3|06:23|$104.71|Swipe Transaction|     La Verne|           CA|91750.0|5912|     No|
|   0|   0|2002|    9|  3|13:53| $86.19|Swipe Transaction|Monterey Park|           CA|91755.0|5970|     No|
|   0|   0|2002|    9|  8|06:38| $27.75|Swipe Transaction|     La Verne|           CA|91750.0|5411|     No|
|   0|   0|2002|    9|  9|06:54| $37.50|Swipe Transaction|     La Verne|           CA|91750.0|5411|     No|
+----+----+----+-----+---+-----+-------+-----------------+-------------+-------------+-------+----+-------+
only showing top 5 rows

In [ ]:
simp_data.printSchema()

root
 |-- User: long (nullable = true)
 |-- Card: long (nullable = true)
 |-- Year: long (nullable = true)
 |-- Month: long (nullable = true)
 |-- Day: long (nullable = true)
 |-- Time: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- UseChip: string (nullable = true)
 |-- MerchantCity: string (nullable = true)
 |-- MerchantState: string (nullable = true)
 |-- Zip: double (nullable = true)
 |-- MCC: long (nullable = true)
 |-- IsFraud: string (nullable = true)

In [ ]:
# simp_data.show()
simp_data = simp_data.withColumn('Date', F.to_date(F.concat_ws('-', simp_data.Day, simp_data.Month, simp_data.Year), "d-M-y"))

In [ ]:
simp_data.show()

+----+----+----+-----+---+-----+-------+-----------------+-------------+-------------+-------+----+-------+----------+
|User|Card|Year|Month|Day| Time| Amount|          UseChip| MerchantCity|MerchantState|    Zip| MCC|IsFraud|      Date|
+----+----+----+-----+---+-----+-------+-----------------+-------------+-------------+-------+----+-------+----------+
|   0|   0|2002|    9|  1|06:21|$134.09|Swipe Transaction|     La Verne|           CA|91750.0|5300|     No|2002-09-01|
|   0|   0|2002|    9|  3|06:23|$104.71|Swipe Transaction|     La Verne|           CA|91750.0|5912|     No|2002-09-03|
|   0|   0|2002|    9|  3|13:53| $86.19|Swipe Transaction|Monterey Park|           CA|91755.0|5970|     No|2002-09-03|
|   0|   0|2002|    9|  8|06:38| $27.75|Swipe Transaction|     La Verne|           CA|91750.0|5411|     No|2002-09-08|
|   0|   0|2002|    9|  9|06:54| $37.50|Swipe Transaction|     La Verne|           CA|91750.0|5411|     No|2002-09-09|
|   0|   0|2002|    9|  9|13:31|  $2.71|Swipe Transaction|     La Verne|           CA|91750.0|5411|     No|2002-09-09|
|   0|   0|2002|    9| 10|21:39| $29.33|Swipe Transaction|    Mira Loma|           CA|91752.0|7832|     No|2002-09-10|
|   0|   0|2002|    9| 11|06:28|$162.39|Swipe Transaction|     La Verne|           CA|91750.0|5411|     No|2002-09-11|
|   0|   0|2002|    9| 11|13:06| $62.06|Swipe Transaction|    Mira Loma|           CA|91752.0|5541|     No|2002-09-11|
|   0|   0|2002|    9| 14|13:08| $12.76|Swipe Transaction|     La Verne|           CA|91750.0|5814|     No|2002-09-14|
|   0|   0|2002|    9| 17|06:24|$159.72|Swipe Transaction|     La Verne|           CA|91750.0|5912|     No|2002-09-17|
|   0|   0|2002|    9| 18|20:01| $92.30|Swipe Transaction|     La Verne|           CA|91750.0|5814|     No|2002-09-18|
|   0|   0|2002|    9| 19|06:25|$168.11|Swipe Transaction|     La Verne|           CA|91750.0|5912|     No|2002-09-19|
|   0|   0|2002|    9| 19|09:42| $53.09|Swipe Transaction|     La Verne|           CA|91750.0|7538|     No|2002-09-19|
|   0|   0|2002|    9| 20|06:17|$119.69|Swipe Transaction|     La Verne|           CA|91750.0|5311|     No|2002-09-20|
|   0|   0|2002|    9| 21|06:47| $48.34|Swipe Transaction|Monterey Park|           CA|91755.0|5942|     No|2002-09-21|
|   0|   0|2002|    9| 23|06:01|$134.89|Swipe Transaction|     La Verne|           CA|91750.0|5300|     No|2002-09-23|
|   0|   0|2002|    9| 25|13:10|$100.00|Swipe Transaction|     La Verne|           CA|91750.0|5499|     No|2002-09-25|
|   0|   0|2002|    9| 26|06:25| $93.37|Swipe Transaction|     La Verne|           CA|91750.0|5300|     No|2002-09-26|
|   0|   0|2002|    9| 27|06:21|$199.71|Swipe Transaction|Monterey Park|           CA|91754.0|5411|     No|2002-09-27|
+----+----+----+-----+---+-----+-------+-----------------+-------------+-------------+-------+----+-------+----------+
only showing top 20 rows

In [ ]:
agg_data = simp_data.groupBy('User', 'Card')\
                    .agg(
                        F.collect_list('Date').alias('Date'),
                        F.collect_list('Time').alias('Time'),
                        F.collect_list('Amount').alias('Amount'),
                        F.collect_list('MCC').alias('MCC')
                        )

In [ ]:
agg_data.show(5)

+----+----+--------------------+--------------------+--------------------+--------------------+
|User|Card|                Date|                Time|              Amount|                 MCC|
+----+----+--------------------+--------------------+--------------------+--------------------+
|   0|   1|[2014-04-09, 2014...|[13:53, 06:50, 06...|[$56.29, $19.97, ...|[5719, 5411, 5311...|
|   0|   4|[2008-09-29, 2008...|[13:14, 17:42, 11...|[$10.33, $1.62, $...|[5812, 5815, 5499...|
|   1|   0|[2003-09-18, 2003...|[10:49, 11:53, 12...|[$60.86, $29.18, ...|[5912, 7349, 7276...|
|   1|   1|[2011-02-02, 2011...|[13:20, 22:06, 12...|[$47.64, $120.00,...|[4814, 4829, 4900...|
|   1|   3|[2010-06-16, 2010...|[18:28, 10:35, 21...|[$46.62, $12.90, ...|[5912, 7210, 5411...|
+----+----+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

Напишите python функцию, которая возьмет данные после агрегации последовательностей, отсортирует их внутри по дате и времени и преобразует к формату python dict:
{'User': User,
'Card': Card,
'sequence':{
    'amount': [последовательность],
    'year': [последовательность],
    'month': [последовательность],
    'day': [последовательность],
    'time': [последовательность],
    'MCC': [последовательность]
}
}


Выведите как пример одну преобразованную запись, результаты сохраните на диск в через rdd pickle

In [ ]:
one_dat = agg_data.take(1)

In [ ]:
def to_dict(rec):
    conv_rec = {'User' : rec[0],
                'Card' : rec[1],
                'sequence' : {
                    'date' : sorted(rec[2]),
                    'time' : sorted(rec[3]),
                    'amount' : rec[4],
                    'MCC' : rec[5]
                }}

    return conv_rec

def convert_arr_to_dict(data):
    return [to_dict(data[i]) for i in range(len(data))]

print(convert_arr_to_dict(one_dat)[0])

{'User': 0, 'Card': 1, 'sequence': {'date': [2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020], 'time': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12], 'amount': [9, 16, 18, 24, 25, 29, 6, 6, 10, 17, 21, 21, 1, 1, 5, 16, 18, 25, 26, 5, 5, 5, 25, 29, 9, 18, 31, 4, 7, 15, 20, 22, 1, 7, 8, 10, 19, 21, 26, 26, 27, 1, 12, 14, 15, 15, 25, 1, 2, 13, 20, 30, 31, 4, 7, 8, 12, 14, 16, 16, 24, 26, 15, 22, 22, 1, 28, 30, 31, 4, 6, 15, 27, 23, 24, 30, 2, 13, 22, 19, 31, 4, 8, 8, 12, 13, 17, 22, 24, 4, 8, 10, 17, 20, 22, 27, 27, 2, 3, 4, 5, 9, 14, 18, 20, 2, 3, 12, 15, 20, 23, 29, 30, 30, 1, 9, 10, 14, 25, 1, 3, 3, 5, 8, 13, 20, 26, 7, 11, 5, 7, 10, 11, 12, 14, 15, 17, 21, 23, 1, 3, 5, 6, 7, 12, 12, 12, 12, 17, 27, 29, 5, 7, 1, 5, 17, 19, 21, 4, 5, 18, 22, 29, 4, 6, 14, 31, 6, 7, 7, 7, 14, 21, 23, 28, 1, 7, 9, 10, 13, 18, 23, 1, 10, 10, 2, 1, 5, 6, 7, 15, 8, 9, 25, 29, 30, 7, 14, 16, 18, 21, 26, 2, 14, 15, 18, 28, 29, 30, 4, 18, 23, 26, 27, 29, 5, 7, 19, 25, 26, 29, 5, 23, 31, 11, 22, 22, 3, 8, 16, 17, 22, 24, 31, 31, 11, 24, 29, 14, 16, 17, 22, 23, 25, 26, 27, 31, 5, 27, 2, 3, 5, 9, 23, 4, 7, 20, 20, 27, 16, 2, 9, 11, 17, 17, 4, 4, 4, 24, 27, 30, 3, 4, 4, 11, 13, 14, 16, 18, 22, 29, 13, 29, 31, 7, 9, 10, 14, 18, 20, 22, 28, 1, 10, 10, 12, 26, 29, 11, 20, 24, 2, 5, 9, 12, 14, 4, 9, 11, 31, 3, 21, 23, 2, 5, 6, 3, 5, 13, 19, 26, 29, 30, 16, 18, 19, 21, 29, 31, 9, 15, 17, 23, 30, 1, 23, 29, 3, 13, 20, 23, 29, 13, 15, 2, 18, 21, 22, 5, 11, 23, 7, 11, 11, 19, 2, 4, 16, 21, 26, 17, 22, 25, 26], 'MCC': ['13:53', '06:50', '06:09', '17:13', '20:58', '06:53', '06:46', '19:08', '09:45', '06:01', '13:07', '13:27', '06:16', '13:52', '06:41', '07:54', '06:01', '14:26', '17:22', '06:14', '13:14', '13:17', '16:56', '06:05', '13:25', '06:53', '16:52', '17:38', '13:03', '06:09', '16:36', '14:14', '16:27', '06:33', '13:18', '06:19', '14:14', '14:11', '06:02', '06:47', '09:44', '20:49', '19:28', '20:21', '13:16', '13:25', '06:25', '13:50', '13:07', '07:16', '20:26', '06:01', '09:47', '07:14', '13:11', '13:01', '22:16', '13:53', '13:38', '16:39', '13:26', '06:18', '06:26', '06:47', '17:57', '06:43', '20:05', '06:03', '06:12', '06:21', '09:41', '06:38', '05:48', '21:44', '20:52', '13:14', '06:16', '13:25', '06:12', '06:08', '20:19', '06:13', '13:12', '13:26', '13:19', '13:19', '13:47', '12:02', '06:04', '06:12', '06:03', '11:47', '21:31', '06:46', '13:14', '09:56', '16:34', '21:17', '10:16', '07:13', '16:58', '06:01', '06:21', '06:24', '09:49', '13:23', '06:09', '13:36', '13:48', '20:21', '13:04', '06:37', '10:41', '11:59', '06:46', '21:58', '20:14', '13:51', '12:40', '06:08', '06:00', '20:14', '06:16', '13:46', '09:43', '06:17', '06:59', '11:10', '07:00', '06:16', '05:43', '07:21', '06:01', '10:34', '09:03', '10:31', '06:23', '05:57', '13:02', '11:52', '06:40', '13:14', '06:37', '20:56', '11:48', '13:06', '13:17', '13:24', '06:52', '16:20', '13:55', '13:22', '06:04', '05:32', '06:11', '20:19', '06:09', '14:52', '14:32', '06:08', '06:09', '09:32', '13:26', '20:23', '09:57', '08:14', '06:24', '05:53', '05:31', '06:42', '10:15', '06:36', '06:59', '06:13', '13:25', '06:36', '06:42', '14:22', '20:11', '06:55', '09:29', '06:02', '05:51', '13:21', '13:23', '14:25', '17:43', '05:03', '13:34', '13:33', '06:36', '06:13', '06:08', '13:17', '20:09', '06:32', '06:53', '13:03', '06:45', '21:07', '13:59', '06:04', '14:49', '09:50', '10:49', '06:53', '14:16', '17:54', '20:17', '06:16', '06:18', '14:06', '06:25', '20:29', '06:19', '20:12', '16:45', '20:16', '10:08', '03:42', '17:59', '09:52', '06:45', '05:39', '21:49', '13:24', '13:25', '09:00', '06:41', '06:21', '20:15', '05:48', '06:43', '13:46', '13:57', '00:29', '13:29', '06:30', '06:03', '20:11', '13:33', '10:48', '17:56', '06:21', '06:59', '06:26', '06:17', '06:55', '06:30', '14:25', '05:41', '06:20', '10:03', '06:02', '08:36', '06:44', '13:01', '13:27', '21:08', '21:25', '11:43', '07:04', '06:51', '09:54', '12:57', '06:10', '10:50', '13:57', '20:01', '16:57', '13:10', '07:17', '06:20', '11:20', '07:34', '06:48', '06:18', '06:20', '06:47', '06:32', '06:56', '19:00', '13:44', '13:45', '13:50', '06:35', '10:47', '07:16', '09:20', '06:09', '06:57', '10:59', '06:00', '06:29', '13:37', '14:04', '06:07', '20:28', '06:36', '16:57', '06:32', '13:05', '07:16', '06:01', '20:57', '06:50', '06:17', '20:39', '11:59', '06:45', '06:46', '06:08', '14:08', '06:24', '06:06', '20:18', '13:24', '06:45', '20:09', '11:31', '10:30', '13:48', '12:47', '13:55', '06:17', '06:15', '06:11', '06:47', '06:38', '13:02', '13:39', '06:38', '10:14', '05:50', '10:26', '13:45', '07:16', '09:56', '07:14', '19:47', '06:57', '06:58', '09:44', '06:20', '00:18', '06:26', '06:35', '18:47', '13:34', '06:47', '10:33', '07:02', '13:02', '16:41', '06:25', '09:56', '06:49', '13:32', '06:22', '06:20', '06:13', '20:26', '05:29', '20:46']}}