<a href="https://colab.research.google.com/github/anslava00/PySpark_sber/blob/main/PySpark_lesson4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.2)
Requirement already satisfied: findspark in /usr/local/lib/python3.8/dist-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
import pyspark.sql.functions as F

conf = SparkConf().set('spark.ui.port', '4050').set('spark.serializer', 'org.apache.spark.serializer.KryoSerializer')\
                  .set('spark.dynamicAllocation.enabled', 'true')\
                  .set('spark.shuffle.service.enabled', 'true') #трекер, чтобы возвращать ресурсы
sc = SparkContext(conf=conf)
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
google_drive = '/content/drive/MyDrive/Colab_Notebooks/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = spark.read.csv(google_drive + 'Train_Set_90621.csv',  header=True, inferSchema=True).drop(F.col('Amount Defaulted'))

In [ ]:
data.count()

195118

In [ ]:
data.show(3)

+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Application ID|   Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|    1020200001| Bank_Name_316|  Private|        12-10-2005| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|           13912500|             0|
|    1020200002|Bank_Name_1062|     Govt|        21-11-2006|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|            1225000|             1|
|    1020200003|  Bank_Name_39|  Private|        28-11-2007|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|            1487500|             0|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
only showing top 3 rows

In [ ]:
data.describe().show()

+-------+-----------------+---------------+---------+------------------+-------------------+--------------------+---------------------------+-----------------+-------------------+------------------+-----------+------------------+------------------+----------------------+-----------------+------------------+------------------------------+-----------------------+----------------------------+--------------------+-------------------+------------------+-----------------+--------------------+------------------+----------------+--------------------+-------------------+
|summary|   Application ID|    Bank Masked|Bank Type|Approved_Timestamp|        Name Masked|Business Owner State|Business_Industry_Type_Code|    Approved_Year|       New Business|              Term|  BankState|     Interest Rate|         Employees|Gross Disbursed Amount|       Term_years|     Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|  Gross_Apprv_Amount|Company Branch Code|     City or Rural|   Jobs Generated|Carry-forward Credit|Documents Provided|    Balance Left| Final_Appved_Amount|     Default_Status|
+-------+-----------------+---------------+---------+------------------+-------------------+--------------------+---------------------------+-----------------+-------------------+------------------+-----------+------------------+------------------+----------------------+-----------------+------------------+------------------------------+-----------------------+----------------------------+--------------------+-------------------+------------------+-----------------+--------------------+------------------+----------------+--------------------+-------------------+
|  count|           195118|         195038|   195038|            194692|             195117|              195115|                     195118|           195118|             195082|            195118|     195037|            195118|            195118|                195118|           195118|            195118|                        195118|                 195115|                      195118|              195118|             195118|            195118|           195118|              194140|            194566|          195118|              195118|             195118|
|   mean|   1.0202975595E9|           null|     null|              null|               null|                null|          399104.7059881713|2008.122751360715| 1.2793030623020063|110.73985998216465|        0.0| 7.327914390266403|19.122981990385306|   1.414491644937935E7|9.245461720599842|11.418362221834991|             15.32921104152359|   1.8325220522256106E7|           1253178.777488494|1.3565614745999856E7|  2812.721501860413|0.7546971576174417|9.055151241812647|                null|              null|9.18418597976609| 1.052897772045634E7|0.18059840711774414|
| stddev|56325.85924925306|           null|     null|              null|               null|                null|          263815.8896713594|6.256458086968012|0.45111900679753403|  78.8517723449654|        0.0|2.9777137747977767|130.03260689491412|  2.0299306581284177E7|6.569698906552672|248.74419770593946|             11.79194668211102|     1.75906858249903E8|           645567.0835725025|1.9969551972906575E7| 12897.919612614003|0.6469141971067709|248.3170371124524|                null|              null|3962.91144972547|1.6101767759185921E7|0.38468608097312673|
|    min|       1020200001|    Bank_Name_1|     Govt|        01-01-2001|    Business_Name_1|               Delhi|                       1230|             1900|                  0|                 0|          0|                 2|                 0|                     0|                0|                 0|                             1|                      0|                      100002|               14000|                  0|                 0|                0|                   N|                 N|               0|                7000|                  0|
|    max|       1020395118|Bank_Number_999|  Private|        31-12-2016|Business_Name_99999|         Uttarakhand|                     929351|             2017|                  2|               461|Uttarakhand|                12|             22222|             732550000|               38|              8800|                            50|            43200000000|                     2500000|           350000000|              92000|                 2|             8800|                   Y|                 Y|         1750000|           315000000|                  1|
+-------+-----------------+---------------+---------+------------------+-------------------+--------------------+---------------------------+-----------------+-------------------+------------------+-----------+------------------+------------------+----------------------+-----------------+------------------+------------------------------+-----------------------+----------------------------+--------------------+-------------------+------------------+-----------------+--------------------+------------------+----------------+--------------------+-------------------+

In [ ]:
print(len(data.columns))
data.printSchema()

28
root
 |-- Application ID: integer (nullable = true)
 |-- Bank Masked: string (nullable = true)
 |-- Bank Type: string (nullable = true)
 |-- Approved_Timestamp: string (nullable = true)
 |-- Name Masked: string (nullable = true)
 |-- Business Owner State: string (nullable = true)
 |-- Business_Industry_Type_Code: integer (nullable = true)
 |-- Approved_Year: integer (nullable = true)
 |-- New Business: integer (nullable = true)
 |-- Term: integer (nullable = true)
 |-- BankState: string (nullable = true)
 |-- Interest Rate: integer (nullable = true)
 |-- Employees: integer (nullable = true)
 |-- Gross Disbursed Amount: integer (nullable = true)
 |-- Term_years: integer (nullable = true)
 |-- Jobs Retained: integer (nullable = true)
 |-- Male to Female Employees Ratio: integer (nullable = true)
 |-- Expected Company Income: long (nullable = true)
 |-- Funds available with company: integer (nullable = true)
 |-- Gross_Apprv_Amount: integer (nullable = true)
 |-- Company Branch Code: integer (nullable = true)
 |-- City or Rural: integer (nullable = true)
 |-- Jobs Generated: integer (nullable = true)
 |-- Carry-forward Credit: string (nullable = true)
 |-- Documents Provided: string (nullable = true)
 |-- Balance Left: integer (nullable = true)
 |-- Final_Appved_Amount: integer (nullable = true)
 |-- Default_Status: integer (nullable = true)

In [ ]:
def check_nan(data):
    data.select([F.count(F.when(F.isnan(c) | F.col(c).isNull(), c)).alias(c) for c in data.columns]).show()

In [ ]:
data_not_nan = data.dropna()
check_nan(data_not_nan)

+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Application ID|Bank Masked|Bank Type|Approved_Timestamp|Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|             0|          0|        0|                 0|          0|                   0|                          0|            0|           0|   0|        0|            0|        0|                     0|         0|            0|                             0|                      0|                           0|                 0|                  0|            0|             0|                   0|                 0|           0|                  0|             0|
+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+

In [ ]:
print(data.count())
print(data_not_nan.count())

195118
193042

In [ ]:
data_not_nan.select(F.col('Default_Status'))\
    .groupBy('Default_Status')\
    .count()\
    .withColumn('count', F.col('count'))\
    .show()

+--------------+------+
|Default_Status| count|
+--------------+------+
|             1| 34869|
|             0|158173|
+--------------+------+

In [ ]:
data_not_nan.show(10)

+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Application ID|    Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|    1020200001|  Bank_Name_316|  Private|        12-10-2005| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|           13912500|             0|
|    1020200002| Bank_Name_1062|     Govt|        21-11-2006|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|            1225000|             1|
|    1020200003|   Bank_Name_39|  Private|        28-11-2007|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|            1487500|             0|
|    1020200004|    Bank_Name_3|     Govt|        18-04-2009|Business_Name_103197|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|                 333333|                     2346786|          38850000|                  1|            1|             0|                   N|                 N|           0|           29137500|             0|
|    1020200005|  Bank_Name_126|     Govt|        23-11-2002|Business_Name_118932|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|                 333333|                     2382995|           2800000|                  1|            2|             0|                   N|                 Y|           0|            2380000|             0|
|    1020200006| Bank_Name_1281|  Private|        23-12-2009|Business_Name_135212|         Maharashtra|                     239391|         2009|           1|  84|  Maharashtra|            6|       10|              10500000|         7|            0|                            16|                 833333|                      392186|          10500000|                  1|            2|             0|                   N|                 Y|           0|            7875000|             0|
|    1020200007|   Bank_Name_33|  Private|        04-10-2009| Business_Name_60742|               Delhi|                     423561|         2009|           2|  60|        Delhi|            6|        2|               2310000|         5|            0|                             9|                 166667|                     2496022|           2310000|                  1|            0|             0|                   N|                 Y|           0|            1848000|             0|
|    1020200008|   Bank_Name_33|  Private|        03-03-2006| Business_Name_99424|       Uttar Pradesh|                     443530|         2006|           1|  60|        Delhi|            6|        6|               3500000|         5|            2|                             5|                 500000|                     1525676|           3500000|                  1|            0|             0|                   N|                 N|           0|            1750000|             0|
|    1020200009|Bank_Name_12778|     Govt|        03-08-2017|Business_Name_146709|             Haryana|                       1231|         2017|           2|  73|      Haryana|            5|        2|               4900000|         6|            0|                            10|                 166667|                     2358557|           4900000|                  1|            0|             0|                   N|                 Y|           0|            3920000|             0|
|    1020200010|   Bank_Name_17|  Private|        20-06-2017| Business_Name_17874|         Maharashtra|                     542341|         2017|           1| 120|        Delhi|           12|       60|              42000000|        10|            0|                            10|                5000000|                     1186740|          42000000|                  1|            0|             0|                   N|                 N|           0|           31500000|             0|
+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
only showing top 10 rows

In [ ]:
data_not_nan.show(3)

+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Application ID|   Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|    1020200001| Bank_Name_316|  Private|        12-10-2005| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|           13912500|             0|
|    1020200002|Bank_Name_1062|     Govt|        21-11-2006|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|            1225000|             1|
|    1020200003|  Bank_Name_39|  Private|        28-11-2007|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|            1487500|             0|
+--------------+--------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
only showing top 3 rows

In [ ]:
def count_cat(col):
    data_not_nan.select(F.col(col))\
        .groupBy(col)\
        .count()\
        .withColumn('count', F.col('count'))\
        .show()
def count_cat_val(col):
    return data_not_nan.select(F.col(col))\
        .groupBy(col)\
        .count()\
        .withColumn('count', F.col('count'))\
        .count()

In [ ]:
cat_col = ['Bank Masked', 'Bank Type', 'Name Masked', 'Business Owner State', 'BankState', 'Carry-forward Credit', 'Documents Provided']

In [ ]:
for col in cat_col:
    count_cat(col)

+----------------+-----+
|     Bank Masked|count|
+----------------+-----+
|  Bank_Name_1909|    3|
| Bank_Name_51514|    1|
| Bank_Name_27474|    1|
|  Bank_Name_1658|   18|
|   Bank_Name_697|   27|
|   Bank_Name_806|   12|
|  Bank_Name_3559|    2|
|Bank_Number_2607|    2|
|   Bank_Name_671|    6|
| Bank_Name_17580|    1|
|   Bank_Name_153|   65|
| Bank_Name_24264|    1|
| Bank_Number_530|    8|
| Bank_Name_47837|    1|
|   Bank_Name_674|   36|
|  Bank_Name_9004|    1|
| Bank_Number_347|    4|
|  Bank_Name_8683|    1|
| Bank_Name_33843|    1|
| Bank_Name_43255|    1|
+----------------+-----+
only showing top 20 rows

+---------+------+
|Bank Type| count|
+---------+------+
|     Govt| 64288|
|  Private|128754|
+---------+------+

+--------------------+-----+
|         Name Masked|count|
+--------------------+-----+
|Business_Name_140550|    1|
|Business_Name_139609|    1|
| Business_Name_73472|    1|
| Business_Name_62132|    2|
| Business_Name_28654|    1|
|Business_Name_105970|    1|
| Business_Name_84125|    2|
| Business_Name_94290|    1|
|Business_Name_104886|    1|
| Business_Name_70810|    2|
|Business_Name_119181|    1|
|Business_Name_153633|    1|
|Business_Name_108035|    1|
| Business_Name_77717|    2|
| Business_Name_97956|    1|
| Business_Name_13852|    1|
|  Business_Name_4697|    2|
| Business_Name_50851|    2|
| Business_Name_30859|    3|
|Business_Name_104949|    1|
+--------------------+-----+
only showing top 20 rows

+--------------------+-----+
|Business Owner State|count|
+--------------------+-----+
|           Karnataka|  786|
|              Kerala|  540|
|          Tamil Nadu| 1998|
|              Punjab|  610|
|             Haryana|55831|
|              Orissa| 2583|
|               Delhi|57916|
|         Maharashtra|47587|
|       Uttar Pradesh|23912|
|         Uttarakhand| 1279|
+--------------------+-----+

+-------------+-----+
|    BankState|count|
+-------------+-----+
|    Karnataka|  662|
|       Kerala|  318|
|   Tamil Nadu|  931|
|       Punjab|  463|
|            0|   73|
|          Goa|   11|
|      Haryana|38935|
|       Orissa| 1979|
|        Delhi|73245|
|  Maharashtra|59708|
|Uttar Pradesh|15928|
|  Uttarakhand|  789|
+-------------+-----+

+--------------------+------+
|Carry-forward Credit| count|
+--------------------+------+
|                   Y| 46504|
|                   N|146538|
+--------------------+------+

+------------------+------+
|Documents Provided| count|
+------------------+------+
|                 Y| 24040|
|                 N|169002|
+------------------+------+

In [ ]:
data_df = data_not_nan.drop('Name Masked', 'Bank Masked', 'Application ID')

In [ ]:
data_df.show(5)

+---------+------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Bank Type|Approved_Timestamp|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+---------+------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|  Private|        12-10-2005|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|           13912500|             0|
|     Govt|        21-11-2006|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|            1225000|             1|
|  Private|        28-11-2007|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|            1487500|             0|
|     Govt|        18-04-2009|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|                 333333|                     2346786|          38850000|                  1|            1|             0|                   N|                 N|           0|           29137500|             0|
|     Govt|        23-11-2002|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|                 333333|                     2382995|           2800000|                  1|            2|             0|                   N|                 Y|           0|            2380000|             0|
+---------+------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
only showing top 5 rows

In [ ]:
for col in data_df.columns:
    print(col, count_cat_val(col))

Bank Type 2
Approved_Timestamp 6408
Business Owner State 10
Business_Industry_Type_Code 2073
Approved_Year 18
New Business 3
Term 363
BankState 12
Interest Rate 11
Employees 430
Gross Disbursed Amount 36847
Term_years 39
Jobs Retained 233
Male to Female Employees Ratio 50
Expected Company Income 1846
Funds available with company 185045
Gross_Apprv_Amount 8990
Company Branch Code 1624
City or Rural 3
Jobs Generated 154
Carry-forward Credit 2
Documents Provided 2
Balance Left 3
Final_Appved_Amount 15389
Default_Status 2

In [ ]:
from pyspark.ml.feature import StringIndexer, IndexToString, OneHotEncoder

In [ ]:
data_df.show(3)

+---------+------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|Bank Type|Approved_Timestamp|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|Default_Status|
+---------+------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
|  Private|        12-10-2005|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|           13912500|             0|
|     Govt|        21-11-2006|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|            1225000|             1|
|  Private|        28-11-2007|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|            1487500|             0|
+---------+------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+--------------+
only showing top 3 rows

In [ ]:
from pyspark.ml.functions import vector_to_array

In [ ]:
cat_col = ['Bank Type', 'Business Owner State', 'BankState', 'Carry-forward Credit', 'Documents Provided']
cat_to_one_hot = ['Business Owner State']

In [ ]:
def conv_label_in(col, data):
    
    indexer = StringIndexer(inputCol=col, outputCol=col+"_index")
    indexer = indexer.fit(data)
    indexer_transform = indexer.transform(data).drop(col)
    return (indexer_transform, indexer) if col in cat_to_one_hot else (indexer_transform, 0)

def conv_one_hot(col, data, label):
    ohe_encoder = OneHotEncoder(inputCols=[col+"_index"], outputCols=[col+"_onehot"])
    ohe_encoder = ohe_encoder.fit(data)
    ohe_encoder = ohe_encoder.transform(data).drop(col)

    df_col_onehot = ohe_encoder.select('*', vector_to_array(col+"_onehot").alias(col+'_onehot_arr'))
    num_categories = len(df_col_onehot.first()[col+"_onehot_arr"]) 
    cols_expanded = [(F.col(col+'_onehot_arr')[i].alias(f'{label[i]}'))  for i in range(num_categories)]
    df_cols_onehot = df_col_onehot.select('*', *cols_expanded)
    return df_cols_onehot.drop(col+'_onehot', col+'_onehot_arr')

In [ ]:
data_label_cod = data_df
label_list = []
for col in cat_col:
    data_label_cod, label = conv_label_in(col, data_label_cod)
    if label:
        label_list.append(label)
data_label_cod.show(3)

+------------------+---------------------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+------------+-------------------+--------------+---------------+--------------------------+---------------+--------------------------+------------------------+
|Approved_Timestamp|Business_Industry_Type_Code|Approved_Year|New Business|Term|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Balance Left|Final_Appved_Amount|Default_Status|Bank Type_index|Business Owner State_index|BankState_index|Carry-forward Credit_index|Documents Provided_index|
+------------------+---------------------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+------------+-------------------+--------------+---------------+--------------------------+---------------+--------------------------+------------------------+
|        12-10-2005|                     525161|         2005|           1| 219|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|           0|           13912500|             0|            0.0|                       3.0|            3.0|                       0.0|                     0.0|
|        21-11-2006|                       1231|         2006|           1|  71|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|           0|            1225000|             1|            1.0|                       3.0|            3.0|                       1.0|                     0.0|
|        28-11-2007|                     322442|         2007|           2|  84|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|           0|            1487500|             0|            0.0|                       3.0|            1.0|                       1.0|                     0.0|
+------------------+---------------------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+------------+-------------------+--------------+---------------+--------------------------+---------------+--------------------------+------------------------+
only showing top 3 rows

In [ ]:
data.select('Business Owner State', 'BankState').show()

+--------------------+-------------+
|Business Owner State|    BankState|
+--------------------+-------------+
|       Uttar Pradesh|Uttar Pradesh|
|       Uttar Pradesh|Uttar Pradesh|
|       Uttar Pradesh|  Maharashtra|
|              Kerala|        Delhi|
|               Delhi|  Maharashtra|
|         Maharashtra|  Maharashtra|
|               Delhi|        Delhi|
|       Uttar Pradesh|        Delhi|
|             Haryana|      Haryana|
|         Maharashtra|        Delhi|
|       Uttar Pradesh|Uttar Pradesh|
|             Haryana|        Delhi|
|               Delhi|        Delhi|
|         Maharashtra|  Maharashtra|
|              Kerala|       Kerala|
|       Uttar Pradesh|Uttar Pradesh|
|               Delhi|        Delhi|
|         Maharashtra|      Haryana|
|             Haryana|      Haryana|
|              Punjab|       Punjab|
+--------------------+-------------+
only showing top 20 rows

In [ ]:
label_list[0].labels

['Delhi',
 'Haryana',
 'Maharashtra',
 'Uttar Pradesh',
 'Orissa',
 'Tamil Nadu',
 'Uttarakhand',
 'Karnataka',
 'Punjab',
 'Kerala']

In [ ]:
data_hot_cod = data_label_cod
for index, col in enumerate(cat_to_one_hot):
    data_hot_cod = conv_one_hot(col, data_hot_cod, label_list[index].labels)
data_hot_cod.show(3)

+------------------+---------------------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+------------+-------------------+--------------+---------------+--------------------------+---------------+--------------------------+------------------------+-----+-------+-----------+-------------+------+----------+-----------+---------+------+
|Approved_Timestamp|Business_Industry_Type_Code|Approved_Year|New Business|Term|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Balance Left|Final_Appved_Amount|Default_Status|Bank Type_index|Business Owner State_index|BankState_index|Carry-forward Credit_index|Documents Provided_index|Delhi|Haryana|Maharashtra|Uttar Pradesh|Orissa|Tamil Nadu|Uttarakhand|Karnataka|Punjab|
+------------------+---------------------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+------------+-------------------+--------------+---------------+--------------------------+---------------+--------------------------+------------------------+-----+-------+-----------+-------------+------+----------+-----------+---------+------+
|        12-10-2005|                     525161|         2005|           1| 219|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|           0|           13912500|             0|            0.0|                       3.0|            3.0|                       0.0|                     0.0|  0.0|    0.0|        0.0|          1.0|   0.0|       0.0|        0.0|      0.0|   0.0|
|        21-11-2006|                       1231|         2006|           1|  71|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|           0|            1225000|             1|            1.0|                       3.0|            3.0|                       1.0|                     0.0|  0.0|    0.0|        0.0|          1.0|   0.0|       0.0|        0.0|      0.0|   0.0|
|        28-11-2007|                     322442|         2007|           2|  84|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|           0|            1487500|             0|            0.0|                       3.0|            1.0|                       1.0|                     0.0|  0.0|    0.0|        0.0|          1.0|   0.0|       0.0|        0.0|      0.0|   0.0|
+------------------+---------------------------+-------------+------------+----+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+------------+-------------------+--------------+---------------+--------------------------+---------------+--------------------------+------------------------+-----+-------+-----------+-------------+------+----------+-----------+---------+------+
only showing top 3 rows

In [ ]:
data_hot_cod.count()

193042

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression, LogisticRegressionModel
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.tuning import ParamGridBuilder, TrainValidationSplit, CrossValidator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [ ]:
train, test = data_not_nan.randomSplit([0.7, 0.3], seed=7)
Bank_Type_indexer = StringIndexer(inputCol='Bank Type', outputCol="bank_type_index")
BOS_indexer = StringIndexer(inputCol='Business Owner State', outputCol="business_owner_state_index")
CFC_indexer = StringIndexer(inputCol='Carry-forward Credit', outputCol="carry_forward_credit_index")
DP_indexer = StringIndexer(inputCol='Documents Provided', outputCol="documents_provided_index")



ohe_encoder = OneHotEncoder(inputCols=["bank_type_index", "business_owner_state_index"],
                        outputCols=["bank_type_vec", "business_owner_state_vec"])

feature_columns = [
                'carry_forward_credit_index',
                'documents_provided_index',
                'Business_Industry_Type_Code',
                'Approved_Year',
                'New Business',
                'Term',
                # 'BankState',
                'Interest Rate',
                'Employees',
                'Gross Disbursed Amount',
                'Term_years',
                'Jobs Retained',
                'Male to Female Employees Ratio',
                'Expected Company Income',
                'Funds available with company',
                'Gross_Apprv_Amount',
                'Company Branch Code',
                'City or Rural',
                'Jobs Generated',
                # 'Balance Left',
                'Final_Appved_Amount',
                'bank_type_vec',
                'business_owner_state_vec'                 
]

target = 'Default_Status'

vector_assembler = VectorAssembler(inputCols = feature_columns, outputCol = 'features')


lr = LogisticRegression(featuresCol='features', labelCol=target, predictionCol='prediction',
                        maxIter=10,
                        elasticNetParam = 1,
                        probabilityCol='proba')

pipeline = Pipeline(stages=[
                        Bank_Type_indexer,
                        BOS_indexer,
                        CFC_indexer,
                        DP_indexer,
                        ohe_encoder,
                        vector_assembler,
                        lr
])


Model_best_gip_par = pipeline.fit(train)

In [ ]:
# transformed_data.select('prediction').groupBy('prediction').count().show()

+----------+------+
|prediction| count|
+----------+------+
|       0.0|135064|
|       1.0|   102|
+----------+------+

In [ ]:
paramGrid = ParamGridBuilder() \
    .addGrid(lr.maxIter, [10, 20, 200, 100, 500]) \
    .addGrid(lr.regParam, [0, 0.1, 0.2, 0.3, 1])\
    .addGrid(lr.elasticNetParam, [0, 0.3, 0.7, 1])\
    .build()

crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid,
                          evaluator=BinaryClassificationEvaluator(rawPredictionCol='rawPrediction',
                                                                  labelCol=target, metricName='areaUnderROC'),
                          numFolds=6,
                          parallelism=2)
Model = crossval.fit(train)

In [ ]:
Model.avgMetrics

[0.7107644984860285,
 0.7107646390142125,
 0.7107650266409345,
 0.7107651475344343,
 0.7005391299162586,
 0.7048369262449695,
 0.7031443783049843,
 0.5,
 0.6945263985181335,
 0.7031443783049843,
 0.5,
 0.5,
 0.6908178658818055,
 0.5,
 0.5,
 0.5,
 0.6823872836322215,
 0.5,
 0.5,
 0.5,
 0.7107309360902966,
 0.7107340234949374,
 0.7107308450637458,
 0.7107308537616924,
 0.7005374965397722,
 0.7048369262449695,
 0.7031443783049843,
 0.5,
 0.6945256732599576,
 0.7031443783049843,
 0.5,
 0.5,
 0.6908182187711644,
 0.5,
 0.5,
 0.5,
 0.6823877254900887,
 0.5,
 0.5,
 0.5,
 0.7105415262007412,
 0.710541467928635,
 0.7105438925686386,
 0.710541290647451,
 0.7005376440980889,
 0.7048369262449695,
 0.7031443783049843,
 0.5,
 0.6945252453138663,
 0.7031443783049843,
 0.5,
 0.5,
 0.690817267121561,
 0.5,
 0.5,
 0.5,
 0.6823874366506462,
 0.5,
 0.5,
 0.5,
 0.7105193064852166,
 0.7105202947167241,
 0.7105188304099173,
 0.7105173949224838,
 0.700539617650974,
 0.7048369262449694,
 0.7031443783049843,
 0.5,
 0.6945260343598969,
 0.7031443783049843,
 0.5,
 0.5,
 0.6908166648117491,
 0.5,
 0.5,
 0.5,
 0.6823878199319475,
 0.5,
 0.5,
 0.5,
 0.7105457134002693,
 0.7105427655357385,
 0.7105451810232073,
 0.7105415587013916,
 0.7005387822420649,
 0.7048369262449694,
 0.7031443783049843,
 0.5,
 0.694528318040633,
 0.7031443783049843,
 0.5,
 0.5,
 0.6908161383162174,
 0.5,
 0.5,
 0.5,
 0.6823883777410336,
 0.5,
 0.5,
 0.5]

In [ ]:
import numpy as np
Model.getEstimatorParamMaps()[np.argmax(Model.avgMetrics)]

{Param(parent='LogisticRegression_66078dd293d6', name='maxIter', doc='max number of iterations (>= 0).'): 10,
 Param(parent='LogisticRegression_66078dd293d6', name='regParam', doc='regularization parameter (>= 0).'): 0.0,
 Param(parent='LogisticRegression_66078dd293d6', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 1.0}

In [ ]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol='rawPrediction',
                                          labelCol=target, 
                                          metricName='areaUnderROC')
evaluator.evaluate(Model.transform(test))

0.7127749980696461

In [ ]:
transformed_data = Model_best_gip_par.transform(train)

evaluator = BinaryClassificationEvaluator(rawPredictionCol='rawPrediction',
                                          labelCol=target, 
                                          metricName='areaUnderROC')
evaluator.evaluate(transformed_data)

0.7109436303848229

In [ ]:
transformed_data = Model_best_gip_par.transform(test)

evaluator = BinaryClassificationEvaluator(rawPredictionCol='rawPrediction',
                                          labelCol=target, 
                                          metricName='areaUnderROC')
evaluator.evaluate(transformed_data)

0.7121382976826156